<!DOCTYPE html>
<html>
<head>
   <title>Wac</title>
</head>
<body>

</body>
    <% if (!isAuthenticated) { %>
        <a href="/login">Login in here</a>

    <% } else { %>
    Hello allan
    <a href="/logout">Login Out here</a>

    <% } %>

</html>
