

<html>

<% if (!isAuthenticated) { %>
<script type="text/javascript">
    <!--
    window.location = "./login"
    //-->
</script>
<% } else { %>
<% } %>
<head>
    <title>Makerere International Airport Control Tower</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css"/>
      <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/client.js"></script>
    <script type="text/javascript" src="http://www.chartjs.org/assets/Chart.js"></script>
    
</head>


<body >

<div id="header">
     <div class="logo">
         <img src = "images/bars.png"  alt = />
         <a href="#">Makerere<span> Control Tower</span></a>
     </div>
    <div class="lout">
        <div id="menu_icon_top">
            <img src="images/people-1.png" alt="2013 Toyota Tacoma" id="itemImg">
        </div>
        <a href="/logout">Chris Allan Wajega | Sign<span>out</span></a>
    </div>

</div>

<div id="container">
    <div class="sidebar">
         <ul id="nav">

             <li>
                 <div id="menu_icon_side">
                     <img src="images/home2.png" alt="2013 Toyota Tacoma" id="itemImg">
                 </div>
                 <a class="selected" href="/"><span class='face'>Dashboar</span>d</a>
             </li>
             <li>
                 <div id="menu_icon_side">
                     <img src="images/explorer.png" alt="2013 Toyota Tacoma" id="itemImg">
                 </div>
                 <a href="/live_track">Fleet Live Tracking</a>
             </li>
             <li>
                 <div id="menu_icon_side">
                     <img src="images/people-1.png" alt="2013 Toyota Tacoma" id="itemImg">
                 </div>
                 <a href="#">Airline Accounts</a>
             </li>
             <li>
                 <div id="menu_icon_side">
                     <img src="images/poly.png" alt="2013 Toyota Tacoma" id="itemImg">
                 </div>
                 <a href="#">Operations</a>
             </li>
             <li>
                 <div id="menu_icon_side">
                     <img src="images/people-2.png" alt="2013 Toyota Tacoma" id="itemImg">
                 </div>
                 <a href="/users">System Users</a>
             </li>

         </ul>
    </div>
    <div class="content">
    	<div id="content-top">
    		<div id="ct-t">
    			<h2>Tower Dashboard</h2>
       		</div>
    	</div>


        <div class="clearfix holder">
            <div class="column left">

                <ul id="tabs">
                    <li><a href="#" title="tab1">Speed Monitoring</a></li>
                    <li><a href="#" title="tab2">Altitude Monitoring </a></li>
                    <li><a href="#" title="tab3">Temperature</a></li>
                    <li><a href="#" title="tab4">Voltage</a></li>
                </ul>

                <div id="content">
                    <div id="tab1">
                      <canvas id="myChart1" width="700" height="400"></canvas>
                    </div>
                    <div id="tab2">
                        <canvas id="myChart2" width="700" height="400"></canvas>
                    </div>
                    <div id="tab3">Three - content</div>
                    <div id="tab4">Four - content</div>
                </div>




            </div>
            <div class="column right">
                <h2 id="h2a">Server Log</h2>
                <textarea id="message"></textarea>
            </div>
        </div>







    </div>

</div>


</body>
<script>

    $(document).ready(function() {
        $("#content div").hide(); // Initially hide all content
        $("#tabs li:first").attr("id","current"); // Activate first tab
        $("#content div:first").fadeIn(); // Show first tab content

        $('#tabs a').click(function(e) {
            e.preventDefault();
            $("#content div").hide(); //Hide all content
            $("#tabs li").attr("id",""); //Reset id's
            $(this).parent().attr("id","current"); // Activate this
            $('#' + $(this).attr('title')).fadeIn(); // Show content for current tab
        });
    })();
</script>

<script >
$(document).ready(function() {
    jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');
 
        // Show/Hide Tabs
        jQuery('.tabs ' + currentAttrValue).show().siblings().hide();
 
        // Change/remove current tab to active
        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
 
        e.preventDefault();
    });
});
</script>
    
<script>
    window.onload = function(){

        listen();
    }



</script>





</html>
