

<html>

<% if (!isAuthenticated) { %>
<script type="text/javascript">
    <!--
    window.location = "./login"
    //-->
</script>
<% } else { %>
<% } %>
<head>
    <title>Zapi Server!</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css"/>
</head>


<body>
<div id="hr">
</div>
<div id="header">
     <div class="logo">
         <a href="#">Zapi<span> Control Tower</span></a>
     </div>
    <div class="lout">
        <a href="/logout">Sign<span>out</a>
    </div>

</div>

<div id="container">
    <div class="sidebar">
         <ul id="nav">
             <li><a class="selected" href="#">Dashboard</a> </li>
             <li><a href="#">Aviation Statistics</a> </li>
             <li><a href="#">Accounts</a> </li>
             <li><a href="#">Settings</a> </li>
             <li><a href="#">Users</a> </li>

         </ul>
    </div>
    <div class="content">
        <h1>Dashboard</h1>
        <p>Welcome to Zapi Online Control Tower Active Sky</p>
        <div id="box">
            <div class="box-top">News</div>



        </div>
    </div>
</div>




</body>












</html>
