
<!DOCTYPE html>
<html>
<head>
   <title>Zapi Server!</title>
   <link rel="stylesheet" type="text/css" href="styles/index.css"/>
</head>


<body>


TEST




</body>















    <% if (!isAuthenticated) { %>
<script type="text/javascript">
    <!--
    window.location = "./login"
    //-->
</script>
     <% } else { %>
      <a href="/logout">Log Out here</a>
    <% } %>
</html>
