
<!DOCTYPE html>
<html>
<head>
   <title>Zapi Server!</title>
</head>


<body>

</body>

    <% if (!isAuthenticated) { %>
<script type="text/javascript">
    <!--
    window.location = "./login"
    //-->
</script>
     <% } else { %>
    Hello allan
    <a href="/logout">Log Out here</a>
    <% } %>

</html>
