
<!DOCTYPE html>
<html>
<head>
   <title>Zapi Server!</title>
</head>


<body>

</body>

    <% if (!isAuthenticated) { %>
   window.location.replace('/login');
     <% } else { %>
    Hello allan
    <a href="/logout">Log Out here</a>
    <% } %>

</html>
