
<!DOCTYPE html>
<html>
<head>
   <title>Zapi Server!</title>
</head>
<body>

</body>
    <% if (!isAuthenticated) { %>
    <a href="/login">Login</a>
     <% } else { %>
    Hello allan
    <a href="/logout">Log Out here</a>

    <% } %>

</html>
