
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700");
* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {

	font-family: 'Open Sans';
}
a {
	text-decoration: none ;
}
div#hr{
	width: 100%;
	height: 10px;
	background-color: rgb(33, 74, 75);
	margin:0 auto;
}
div#header {

	width: 100%;
	height: 50px;
	background-color: #2E86C1;
	position : fixed;


}
.logo {
	float: left;
	margin-top: 10px;
	margin-left: 10px;

}
.logo a {
	font-size: 1.8em;
	color: #ffffff;
}
.logo a span {
	font-size: 0.6em;
	font-weight: 300;

}
.lout{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.lout a{
	font-size: 0.98em;
	color: #ffffff;
}

div#container{
	width: 100%;
	margin: 0 auto;
}
.sidebar{
	margin-top: 50.3px;
	width: 250px;
	height: 100%;
	background-color: #17202A;
	float: left;
	position : fixed;
}
ul#nav{


}
ul#nav li{
	list-style: none;

}
ul#nav li a{
	color: #ccc;
	display: block;
	padding: 10px;
	font-size: 0.85em;
	border-bottom: 1px solid rgb(5, 10, 11);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;

}
ul#nav li a:hover{
	background-color: #2ECC71  ;
	color: #ffffff;
	padding-left: 30px ;


}
ul#nav li a.selected{
	background-color: #2ECC71  ;
	color: #ffffff;
}
.content{
	width: auto;
	margin-left: 250px;
	height: 100%;
	background-color: #ffffff;
	padding: 15px ;

}
.content p{

	color: #424242;
	font-size: 0.93em;

}
div#content-top{
	color: #ffffff;
	margin-top: 40px;
	width: 100%;
	background-color: #2ECC71;
	border-radius: 15px;
	padding-right: 10px;

}
div#ct-t{
	margin-top: 14px;
	margin-left: 35px;

}
div#box{
	margin-top: 10px;
	width: 100%;
	height: 100%;
	background-color: #2E86C1;
	border-radius: 15px;
	position: relative;
}

div#footer{
	float: bottom;
	width: 100%;
	height: 50px;
	margin-top: 10px;;
	margin-bottom: 12px;
	background-color: #2ECC71;
	position:absolute;
    bottom:0px;	
	border-radius: 10px;
	
	position : fixed;
	
}


/*----- Tabs -----*/
div#x2{
	

	

}
.tabs {
	width: 90%;
	height: 98%;
	margin-top: 15px;
	margin-left: 40px;
	
    display:inline-block;
    position: absolute;
    
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
    div#CdMssg{
    	height: 90px;
    }
    .messages{
    	height: 880px;
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
        	
            display:none;
            height: 60%;
            margin-bottom: 30px;
        }
 
        .tab.active {
            display:block;
        }
      #message{
      	padding-left: 20px;
      	margin-left: 15px;
      	border-radius:10px;
      	height: 90%;
      	width: 96%;
      	font-size: 1.8em;
      
      	background-color: #bdc3c7;
      }
      #l1{
      	color: #e74c3c;
      }